
.contactoInfo{
    color: black;
    margin-top: 250px !important;
}

.hrContacto{
    width: 92%;
    border-bottom: 4px solid black;
    margin: auto;
    margin-top: 40px;
}

.formContacto{
    width: 50% !important;
    margin: auto;
    margin-top: 40px;
}
.button{
    text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FA5757 !important;
    border-color: #FA5757 !important;
    
}

.formInput{
    height: 3rem;
}

.customNav{
    position: absolute;
    height: 100vh;
    width: 20%;
    padding: 20px 20px;
    box-shadow: 10px 0 20px -2px rgb(196, 196, 196);    
    z-index: 99;
}

.customNav > div > div > img{
    opacity: 70%;
    width: 25px;
}