/* Hide scrollbars on Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.contactoInfo {
    color: black;
    margin-top: 200px !important;
}

.imgContact {
    margin-left: 150px;
}

.hrContacto {
    width: 92%;
    border-bottom: 2px solid black;
    margin: auto;
    margin-top: 40px;
}

.formContacto {
    width: 50% !important;
    margin: auto;
    margin-top: 40px;
}
.button {
    text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FA5757 !important;
    border-color: #FA5757 !important;
    
}

.formInput {
    height: 3rem;
}

.customNav {
    position: absolute;
    height: 100%;
    width: 20%;
    padding: 20px 20px;
    box-shadow: 10px 0 20px -2px rgb(196, 196, 196);    
    z-index: 99;
    background-color: #fff;
}

.customNav > div > div > img {
    opacity: 70%;
    width: 25px;
}

.customNav > div > div > button {
    opacity: 70%;
    width: 25px;
}

.navButton {
    border: none;
    background-color: white;
}

.blur {
    filter: blur(3px);
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: red;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    width: 400px;
}