/* -------------GLOBALES-------------- */

/* Hide scrollbars on Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.c-white{
    color: white;
}
/* ----------------------------------- */

/* -------------TIPOGRAFIAS-------------- */

.noto-sans-korean{
    font-family: 'Noto Sans KR', sans-serif;
}
/* ----------------------------------- */

/* -------------CONTACTO-------------- */

#content{
    animation-fill-mode: forwards;
}

.contactoInfo {
    color: black;
    margin-top: 200px !important;
}

.imgContact {
    margin-left: 150px;
}

.hrContacto {
    width: 92%;
    border-bottom: 2px solid black;
    margin: auto;
    margin-top: 40px;
}

.formContacto {
    width: 50% !important;
    margin: auto;
    margin-top: 40px;
}
.button {
    text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FA5757 !important;
    border-color: #FA5757 !important;
    
}

.formInput {
    height: 3rem;
}
/* ----------------------------------- */

/* -------------NAV-------------- */

.customNav {
    position: absolute;
    height: 100%;
    width: 20%;
    padding: 20px 20px;
    box-shadow: 10px 0 20px -2px rgb(196, 196, 196);    
    z-index: 99;
    background-color: #fff;
    transform: translate(-400px, 0px);
}

.customNav > div > div > img {
    opacity: 70%;
    width: 25px;
}

.customNav > div > div > button {
    opacity: 70%;
    width: 25px;
}

.customNav.navAnimation{
    transform: translate(0px, 0px);
    transition: all .5s;
}

.navButton {
    border: none;
    background-color: white;
}

@keyframes blur {
    100%{
        filter: blur(3px);
    }
}

@keyframes unblur {
    100%{
        filter: blur(0px);
    }
}

.blur{
    filter: blur(3px);
}

.unblur{
    filter: blur(0px);
}

.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: red;
    transition: .2s;
}
/* ----------------------------------- */

/* -------------CONSORCIO-------------- */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    width: 400px;
}
/* ----------------------------------- */

/* -------------ABOUT-US-------------- */
.about1{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.imgabout{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
}

@keyframes navAppear {
    100%{
        transform: translate(0px, 0px);
    }
} 

@keyframes navDesappear {
    100%{
        transform: translate(-400px, 0px);
    }
}

.fixNavIn{
    transform: translate(0px, 0px);
}

.fixNavOut{
    transform: translate(-400px, 0px);
}

.descripcionText{
    margin-right: 200px !important;
}
/* Pruebas index */

.indexContent{
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-top: 10%;
}

.bgIndex-0{
    background-image: url("../assets/img/index/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: .5s;
}

.bgIndex-1{
    background-image: url("../assets/img/index/2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: .5s;
}

.bgIndex-2{
    background-image: url("../assets/img/index/3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: .5s;
}

.indexContent > div > h1{
    font-size: 180px;
}

.indexContent > div > h4 {
    font-size: 50px;
}

.downArrow{
    position: fixed;
    top: 87%;
    left: 47%;
    opacity: 70%;
}

.downArrow > button {
    background: none;
    border: none;
}

.downArrow:hover{
    opacity: 100%;
    transition: 0.3s;
}

.downArrow:not(:hover){
    opacity: 70%;
    transition: 0.3s;
}

.upArrow{
    width: fit-content;
    position: fixed;
    top: 0%;
    left: 47%;
    opacity: 70%;
    transform: rotate(180deg);
}

.upArrow > button {
    background: none;
    border: none;
}

.upArrow:hover{
    opacity: 100%;
    transition: 0.3s;
}

.upArrow:not(:hover){
    opacity: 70%;
    transition: 0.3s;
}

.que{
    padding-bottom: 30%;
}

.quien{
    padding-bottom: 30%;
}

.como{
    padding-bottom: 30%;
}

.stopScroll{
    height: 100%;
    overflow: hidden;
}

/* GALERIA */

.navGaleria {
    position: relative;
    margin: 270px auto 0;
    width: 730px;
    height: 50px;
}

.navGaleria a {
    font-size: 26px;
    color: black;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

.navGaleria a:hover {
    color: black;
}

.navGaleria .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background:rgb(235, 235, 235);
    transition: all .5s ease 0s;
    border-radius: 15px;
}

a:nth-child(1) {
    width: 100px;
}

.navGaleria:hover .start-selected,a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0px;
}

a:nth-child(2) {
    width: 100px;
}

.navGaleria a:nth-child(2):hover~.animation {
    width: 100px;
    left: 105px;
}

a:nth-child(3) {
    width: 100px;
}

.navGaleria a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

a:nth-child(4) {
    width: 100px;
}

.navGaleria a:nth-child(4):hover~.animation {
    width: 100px;
    left: 315px;
}

a:nth-child(5) {
    width: 100px;
}

.navGaleria a:nth-child(5):hover~.animation {
    width: 100px;
    left: 418px;
}

a:nth-child(6) {
    width: 100px;
}

.navGaleria a:nth-child(6):hover~.animation {
    width: 100px;
    left: 520px;
}

a:nth-child(7){
    width: 100px;
}

.navGaleria a:nth-child(7):hover~.animation {
    width: 100px;
    left: 627px;
}

.selected {
    background:rgb(182, 182, 182);
    border-radius: 15px;
}

.sliderGaleria{
    overflow: hidden;
    width: 60% !important;
}

.sliderGaleria > div > img{
    margin-right: 5%;
}

.btnPrev{
    position: fixed;
    top: 489px;
    left: 120px;
    transform: rotate(90deg);
    opacity: 70%;
    z-index: 9999;
}

.btnPrev > button{
    background: none;
    border: none;
}

.btnPrev:hover{
    opacity: 100%;
    transition: .3s;
}

.btnNext{
    position: fixed;
    top: 482px;
    left: 1557px;
    transform: rotate(-90deg);
    opacity: 70%;
    z-index: 9999;
}

.btnNext > button{
    background: none;
    border: none;
}

.btnNext:hover{
    opacity: 100%;
    transition: .3s;
}

.translate-500{
    transform: translate(-500px, 0px);
    transition: .5s;
}

.translate--500{
    transform: translate(500px, 0px);
    transition: .5s;
}

.img-little {
    width: 250px;
    height: 200px;
    margin-top: 100px;
    transition: all .5s ease 0s;
}

.img-big {
    width: 500px;
    height: 380px;
    margin-top: none;
    transition: all .5s ease 0s;
}

.minigallery {
    margin-top: 150px !important;
}

.minigallery > div > img{
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 20px;
}