<!DOCTYPE html>
<html lang="en">
<head>
<!-- LINKS A JQUERY, BOOTSTRAP Y HOJA DE ESTILOS -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
        </script>
    <title>Movilidad</title>
</head>

<body>
    <!-- CONTAINER GENERAL -->
    <div class="window-content">
        <!-- CONTAINER NAV -->
        <div id="nav" class="customNav fs-5 d-block">
        
        </div>
        <div class="container-fluid p-0 m-0" id="content">
            <!-- CONTAINER HEADER -->
            <div class="header pt-2">
                <div class="row">
                    <div class="col-3 mt-3 ps-5">
                        <button class="navButton" id="openNav"><img src="../assets/img/menu.png" alt="" width="30"
                                height="30"></button>
                    </div>
                    <div class="col-5">
                        <img class="img-fluid" src="../assets/img/logo.png" alt="" width="250" height="60">
                    </div>
                    <div class="col-4 mt-2">
                        <img src="../assets/img/cofinanciado.png" alt="" width="200" height="50">
                    </div>
                    <hr>
                </div>
            </div>
            <!-- CONTAINER CONTACTO -->
            <div class="contacto">
                <div class="row">
                    <div class="col-12 text-center mt-5">
                        <h1>Contacto</h1>
                        <hr class="hrContacto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid imgContact" src="../assets/img/logo-alqueria.png" alt="" width="600" height="600">
                    </div>
                    <div class="col-8 contactoInfo text-center">
                        <h1 class="fs-2 text mb-5">Associació empresarial l'Alqueria Projectes Educatius</h1>
                        <p class="fs-4 text">Avda Pobla de Vallbona, n.35, 46184,<br>San Antonio de Benagéver - Valencia
                        </p>
                        <h3 class="mb-5 mt-5">Mail de contacto</h3>
                        <p class="fs-4 text">info@alqueriaeducatius.org</p>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-12 mb-5">
                        <form action="mailto:alberto.moreno2357@gmail.com" method="post" enctype="text/plain" class="formContacto">
                            <div class="mb-5">
                                <input type="text" class="form-control formInput shadow p-3 mb-5 bg-body rounded"
                                    id="name" placeholder="Nombre">
                            </div>
                            <div class="mb-5">
                                <input type="email" class="form-control formInput shadow p-3 bg-body rounded" id="email"
                                    aria-describedby="emailHelp" placeholder="Email">
                                <div id="emailHelp" class="form-text">Nunca compartiremos este correo con nadie.</div>
                            </div>
                            <div class="form-floating mb-5">
                                <textarea class="form-control shadow p-3 mb-5 bg-body rounded pt-4"
                                    placeholder="Escribe tu mensaje" id="text" style="height: 100px"></textarea>
                                <label for="text">Mensaje</label>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn btn-primary btn-lg ps-5 pe-5">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
<!-- SCRIPTS -->
<script src="../js/app.js"></script>
<script src="../js/anime.min.js"></script>

</html>