<!DOCTYPE html>
<html lang="en">
<!-- LINKS A JQUERY, BOOTSTRAP Y HOJA DE ESTILOS -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
    <title>Movilidad</title>
</head>

<body>
    <!-- CONTAINER GENERAL -->
    <div class="window-content">
        <!-- CONTAINER NAV -->
        <div id="nav" class="customNav fs-5 d-block">

        </div>
        <div class="container-fluid p-0 m-0" id="content">
            <!-- CONTAINER HEADER -->
            <div class="header pt-2">
                <div class="row">
                    <div class="col-3 mt-3 ps-5">
                        <button class="navButton" id="openNav"><img src="../assets/img/menu.png" alt="" width="30"
                                height="30"></button>
                    </div>
                    <div class="col-5">
                        <img class="img-fluid" src="../assets/img/logo.png" alt="" width="250" height="60">
                    </div>
                    <div class="col-4 mt-2">
                        <img src="../assets/img/cofinanciado.png" alt="" width="200" height="50">
                    </div>
                    <hr>
                </div>
            </div>
            <!-- SLIDER -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/img/slider/bg_slider01.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/img/slider/bg_slider02(2).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/img/slider/bg_slider02.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <!-- CONTAINER DESCRIPCION -->
            <div class="descripcion">
                <div class="row">
                    <div class="col-12 text-center mt-5">
                        <h1>DESCRIPCION DEL PROYECTO</h1>
                    </div>
                </div>
                <div class="row descripcionText">
                    <div class="col-12 ms-5">
                        <p class="mt-5 mb-4 text-right">
                            <b>Debido a los cambios en el mercado laboral y en los sistemas de educación y formación el desarrollo de este proyecto de movilidad dará al consorcio la posibilidad de:</b>
                            <ul>
                                <li>Que el profesorado de FP desarrolle, a través de las prácticas formativas en empresas europeas, jobshadowing y docencia en centros educativos europeos las capacidades y habilidades modernizar y mejorar las enseñanzas que imparten dando mayores posibilidades al alumnado de inserción al mercado laboral único Europeo, la adaptación a la era digital y a la competitividad en una economía global basada en el conocimiento.</li><br>
                                <li> Conocer el mercado laboral y los perfiles profesionales par promover la adquisición y el desarrollo de capacidades necesarias para el mercado laboral actual.</li><br>
                                <li>Conocer cómo se gestiona las practicas en empresas y la FP dual en otros países de Europa para promover el aprendizaje basado en el trabajo.</li><br>
                                <li>Favorecer un ambiente innovador, dinámico y profesional dentro de los centros educativos que participan en el proyecto integrando las buenas prácticas, innovación, internacionalización y modernización en la formación que se imparte al alumnado usando usando nuevas metodologías como el aprendizaje analítico por exploración enfocado a la resolución de problemas, el trabajo por retos, la gamificación, el aprendizaje colaborativo, etc.</li><br>
                                <li>Trabajar en equipo con el profesorado de otros centros nacionales que ofrecen docencia de las mismas familias profesionales así como establecer contactos más duraderos con el profesorado de los centros internacionales y las empresas para así promover la movilidad del alumnado de FP y la cooperación transnacional.</li><br>
                                <li>Mejorar la orientación que se ofrece al alumnado para hacer de la FP su primera opción.</li><br>
                                <li>Mejorar la aplicación de los sistemas de evaluación y reconocimiento de competencias adquiridas mediante la formación formal, no formal e informal así como de los periodos de estancia el en extranjero. ECVETa c y EUROPASS.</li>
                                <li>Mejorar la sensibilización intercultural entendiendo el significado de ciudadanía internacional activa y de los valores democráticos, fomentando la inclusión, la equidad y la igualdad.</li><br>
                                <li>Mejorar el atractivo de la FP y el prestigio de los centros educativos del consorcio.</li><br>
                            </ul>
                            El proyecto está pensado para 36 profesores de FP de las familias profesionales de Administración, Informática, construcción y obra civil, electrónica y Hostelería; y se desarrollará del 01 de Junio de 2017 al 30 de septiembre de 2018 para permitir que 28 realicen docencia o jobshadowing en centros homólogos Europeos y 6 realicen prácticas en empresas Europeas. Las estancias se realizaran en Italia, Letonia, Rumanía, Croacia, UK y Portugal. Durante el proyecto se realizarán diferentes flujos: tres a Italia, uno a Letonia, uno a UK,uno a Croacia, dos a Rumanía y uno a Portugal. Cada centro del consorcio podrá seleccionar 4 profesores de FP.
                            <br><br><b>La principales actividades que llevarán por todos los socios serán:</b><br><br>
                            <ul>
                                <li>Preparación de la movilidad que incluirá: selección de los participantes, evaluación inicial de sus competencias, formación previa de los participantes, aspectos logísticos y contractuales, coordinación...</li><br>
                                <li>Realización de la estancia. Puesta en marcha del programa en las empresas. La movilidad contempla también actividades culturales.</li><br>
                                <li>Evaluación de los participantes. Las competencias adquiridas durante la misma serán certificadas con Europass, certificado de empresa y certificado de la Consellería de educación</li><br>
                                <li>Monitorización. Se realizará un seguimiento de la evolución de los participantes por los medios establecidos en el proyecto.</li><br>
                                <li>Evaluación del proyecto de modo cuantitativo y cualitativo.</li><br>
                                <li>Difusión. Será realizada durante todo el proyecto por todos los socios.</li><br>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
<!-- SCRIPTS -->
<script src="../js/app.js"></script>

</html>